.listing-index {
  height: min-content;
  width: 720px;
  overflow-y: scroll;
  // height:750px;
  height: 91vh;
  line-height: 1.42;
  color: #333333;
  box-sizing: border-box;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.discover-container {
  display: flex;
  // width: 100vw;
  justify-content: flex-end;
  // position: relative;
  padding-top: 65px;

  .listing-filter {
    overflow-y: auto;
    width: 194px;
  }
}

.index-map-container {
  display: flex;
}
