.home-container {
  display: flex;
  // justify-content: flex-end;
  // position: relative;
  margin-top: 98px;
  height: 92vh;
  flex-direction: column;
  align-items: center;
}

.home-header {
  display: flex;
  align-content: space-between;
  padding-bottom: 15vw;

  .search-container {
    // width: 500px;
    width: 50%;

    h2 {
      padding-top: 8%;
      font-size: 61px;
      color: #333333;
      font-weight: 600;
    }
  }

  figure {
    width: 50%;
    margin-right: 0;
    padding-right: 0;
    // padding-left: 4.7%;

    img {
      width: 100%;
    }
  }
}