.global-main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.home-container {
  display: flex;
  // justify-content: flex-end;
  // position: relative;
  margin-top: 98px;
  height: 92vh;
  flex-direction: column;
  align-items: center;
}

.home-header {
  display: flex;
  align-content: space-between;
  padding-bottom: 15vw;
  height: 600px;

  .search-container {

    h2 {
      padding-top: 8%;
      font-size: 61px;
      color: #333333;
      font-weight: 600;
    }
  }

  figure {
    width: 55%;
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    margin-top: 26px;
    margin-bottom: 0;
    // padding-left: 4.7%;

    img {
      width: 100%;
    }
  }
}

.or-text {
  text-align: center;
  padding-top: 30px;
  padding-right: 5px;
  font-size: 15px;
  color: #333333;
  transition: all 0.5s;
  cursor: pointer;
}

.or-text:hover {
  text-decoration: underline;
}

.sub-search {
  display: flex;
  justify-content: center;
  padding-right: 60px;

  span {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 700;
  }
}

.home-left {
  width: 45%;
  padding-left: 200px;
}
