.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  position: fixed;
}

.modal-child {
  background: white;
  left: 50%;
  top: 60px;
  padding: 20px;
  z-index: 3;
  position: absolute;
  border-radius: 5px;
  margin-left: -220px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  // -webkit-animation: fadein 0.8s;
}