.review-index-container {
  display: flex;
  flex-direction: column;
  color: #333333;
  padding-top: 50px;
  border-bottom: #ebebeb;


  .review-count {

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .review-list-container {
    display: flex;
    flex-direction: column;
    padding-top: 25px;

    .review-item-container {
      display: flex;
      margin: 15px 0px;

      img {
        width: 75px;
        height: 75px;
        border-radius: 50px;
        margin-right: 18px;
        position: relative;
        top: -15px;
      }

      .review-description {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 40px;
        width: 100%;


        .author {
          font-size: 18px;
          font-weight: 600;
        }

        p {
          overflow-wrap: break-word;
          word-wrap: bread-word;
          hyphens: auto;
        }
      }
    }
  }
}

.author-container {
  display: flex;
  justify-content: space-between;

  .button-options {
    display: flex;
  }
  
}

.btn-option {
  height: 20px;
  font-size: 12px;
  font-weight: 300;
  color: white;
  background: #3cc69e;
  padding: 5px 5px;
  border-radius: 5px;
  margin-left: 10px;
  transition: all 0.5s
}

.btn-option:hover {
  background-color: #2baf88
}

.date {
  font-size: 12px;
  color: #a1a1a1;
  padding-bottom: 15px;
  margin-top: 3px;
}