.search-container {
  width: 90%;

  h2 {
    font-size: 5vw;
    font-weight: 600;
    color: #333333;
    line-height: 1;
    display: block;
    padding-right: 100px;
  }

  .home-text {
    padding: 20px 0px 55px 0px;
    width: 80%;
    font-size: 18px;
  }

  .search-form {
    width: 90%;
    height: 12.5vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 20px #ebebeb;
  }
}

.search-dates {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50%;
}

.search-check-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  height: 100%;
  font-size: 18px;
  font-weight: 100;
  color: #a1a1a1;
  border-right: 1px solid #ebebeb;
  h5 {
    margin: 0 auto;
  }
}

.search-check-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 33%;
  border-right: 1px solid #ebebeb;
  color: #a1a1a1;
  font-size: 18px;
  font-weight: 100;
  
  h5 {
    margin: 0 auto;
  }
}

.search-button {
  width: 33%;
  height: 100%;
  color: white;
  // background: #00d3a2;
  background: #40d9ac;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: all 0.5s;
}

.search-button:hover {
  // background: #00bc8a
  background: #37c697;
}

.search-form {
  width: 90%;

  .search-bar {
    box-sizing: border-box;
    height: 50%;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.7px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 500;

    ::placeholder {
      color: #a1a1a1
    }
  }
}

.start-date-input {
  padding-left: 30px;
}

.home-text {
  width: 90%;
  color: #a1a1a1;
  line-height: 1.5;
  font-weight: 300;
}

.home-picture {
  height: 100%;
}