.user-profile-container {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
  justify-content: center;
}

.upcoming-trips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.past-trips-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-trips-container {
  height: 600px;
}

.bookings-container {
  display: grid;
  width: 1080px;
  line-height: 1.42;
  color: #333333;
  box-sizing: border-box;
  height: 50%;
  display: grid;
  // grid-template-columns: 50% 50%;
  grid-template-columns: 33% 33% 33%;
  padding-bottom: 50px;
}

.past-bookings-container {
  display: grid;
  width: 1080px;
  line-height: 1.42;
  color: #333333;
  box-sizing: border-box;
  height: 50%;
  display: grid;
  // grid-template-columns: 50% 50%;
  grid-template-columns: 33% 33% 33%;
  padding-bottom: 170px;
}

.booking-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  div {
    width: 80%;
    text-align: center;

  }
}

.booking-logo {
  position: relative;
  box-sizing: border-box;
  border-radius: 25px;
}

.cancel-btn {
  font-weight: 300;
  color: white;
  background: #3cc69e;
  padding: 8px 8px;
  border-radius: 5px;
  transition: all 0.5s;
  text-align: center;
  font-size: 13.5px;
}

.cancel-btn:hover {
  background: #2baf88;
}

.upcoming-header {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #333333;
}

.no-trips-text {
  font-size: 24px;
  font-weight: 600;
  margin-left: 28px;
  text-align: center;
  color: #333333;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #a1a1a1;
}

.booking-details {

  p {
    padding-bottom: 10px;
  }
}