html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.global-main {
    position: relative;
    min-height: 100%;
}

.footer-main {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  // flex-direction: column;
  // // z-index: 3;
  // // height: 100vh;
  // align-content: flex-end;
  display: inline-block;
  width: 100%;
}

.footer-wrapper {
  // display: flex;
  // // min-height: 50vh;
  // flex-direction: column;
  // justify-content: flex-end;
  // width: 100%;
  bottom: 0;
  position: relative;
}

.footer-container {
  display: flex;
  background: url("https://res.cloudinary.com/emanon/image/upload/v1528417338/main-tent-logo.png"),
  url("https://res.cloudinary.com/emanon/image/upload/v1528417335/footer-img2.png");
  background-repeat: no-repeat, repeat-x;
  background-position: bottom center;
  background-color: #412F5A;
  background-size: 55px, auto;
  // position: absolute;
  width: 100%;
  height: 355px;
  bottom: 0;

  padding-top: 25px;
  // margin-bottom: 40px;
  letter-spacing: 0.3px;
  box-sizing: border-box;
  justify-content: center;
}

.footer-description {
  display: flex;
  flex-direction: column;
  width: 500px;
  // box-sizing: border-box;
  padding-right: 6%;

  h5 {
    color: rgb(127, 107, 155);
  }
  
  p {
    color: white;
    font-weight: 100;
    font-size: 11.3px;
    line-height: 1.8;
  }
}

.footer-link-container {
  display: flex;
  justify-content: space-between;
  width: 450px;
  padding-right: 3%;

  h5 {
    color: rgb(127, 107, 155);
    margin-bottom: 15px;
  }
}



.footer-bottom {
  padding: 10.5px;
  // bottom: 0;
  display: flex;
  // position: absolute;
  width: 100%;
  color: white;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 0.5px;
  justify-content: space-between;
  line-height: 1.42;
  box-sizing: border-box;
  
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  
  a {
    // width: minmax(50px, auto);
    padding: 0 5px;
  }
}

.made-at {
  padding-left: 22%;
}

.links-header {
  display: flex;
  justify-content: space-around;
}

.links {
  color: white;
  font-weight: 100;
  font-size: 11.3px;
  line-height: 1.8;
  display: flex;
  justify-content: space-around;
}

.footer-bottom-main {
  width: 100%;
  justify-content: center;
  // padding-right: 5%;
  background: #417D95;
  border-top: 5px solid #fde0ab;
}

.list-unstyled {
  li {
    color: white;
    font-weight: 100;
    font-size: 11.3px;
    line-height: 1.8;
  }
}

