.footer-main {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.footer-container {
  display: flex;
  background: url("/assets/main-tent-logo"), url("/assets/footer-img2");
  background-repeat: no-repeat, repeat-x;
  background-position: bottom center;
  background-color: #412F5A;
  background-size: 55px, auto;
  position: absolute;
  height: 350px;
  bottom: 0;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 25px;
  margin-bottom: 40px;
  letter-spacing: 0.3px;
  width: 100%;
  box-sizing: border-box;
}

.footer-description {
  display: flex;
  flex-direction: column;
  width: 500px;
  box-sizing: border-box;

  h5 {
    color: rgb(127, 107, 155);
  }
  
  p {
    color: white;
    font-weight: 100;
    font-size: 11.3px;
    line-height: 1.8;
  }
}

.footer-link-container {
  display: flex;
  flex-direction: column;
  padding-left: 80px;

  h5 {
    color: rgb(127, 107, 155);
  }
}



.footer-bottom {
  padding: 10.5px 0;
  border-top: 5px solid #fde0ab;
  bottom: 0;
  display: flex;
  position: absolute;
  width: 100%;
  background: #417D95;
  color: white;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 1px;
  justify-content: space-between;
  line-height: 1.42;
}

.copyright {
  display: flex;
}

.links-header {
  display: flex;
  justify-content: space-around;
}

.links {
  color: white;
  font-weight: 100;
  font-size: 11.3px;
  line-height: 1.8;
  display: flex;
  justify-content: space-around;
}

.footer-bottom-main {
  display: block;
}