.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  color: #333333;
  top: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  background: white;
}

.left-nav-child {
  display: flex;
  z-index: 1;
}

.header-logo {
  border-right: 1px solid #ebebeb;
  padding: 0 25px;
  line-height: 65px;
  
  h1 {
    font-weight: 550;
    letter-spacing: 3px;
    font-size: 20px;
  }
}
.right-nav-child {
  display: flex;
  z-index: 1;
  height: 100%;
}

.home-session-div {
  height: 100%;
  align-items: center;
}

.home-session {
  // padding: 0 50px 0px 25px;
  margin: 0 50px 0 25px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 700;
  height: 45px;
  width: 55px;
}

.home-session:hover {
  border-bottom: 3px solid #3cc69e;
}

.home-session-login {
  margin: 0 50px 0 25px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 600;
  height: 45px;
  width: 44px;
}

.home-session-login:hover {
  border-bottom: 3px solid #3cc69e;
}

.logged-user {
  line-height: 60px;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
}

.inner-right-child-nav {
  display: flex;
  line-height: 20px;
  flex-direction: row;
}

.profile-pic {
  display: flex;
  align-items: center;

  .default-pic {
    height: 32px;
    width: 32px;
    margin-right: 8px;
    padding-bottom: 5px;
  }
  
  .assigned-pic {
    height: 100%;

    img {
      // height: 50px;
      width: 45px;
      margin-top: 9.5px;
      margin-right: 8px;
      border-radius: 50px;
    }
  }
}