.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  color: #333333;
  top: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  background: white;
}

.left-nav-child {
  display: flex;
  z-index: 1;
}

.header-logo {
  border-right: 1px solid #ebebeb;
  padding: 0 25px;
  line-height: 60px;
  
  h1 {
    font-weight: 550;
    letter-spacing: 2px;
    font-size: 19px;
  }
}
.right-nav-child {
  display: flex;
  z-index: 1;
}

.home-session {
  padding: 0 50px 0px 25px;
  line-height: 60px;
  font-size: 14px;
  font-weight: 700;
}

.logged-user {
  line-height: 60px;
  font-size: 14px;
  font-weight: 700;
}

.inner-right-child-nav {
  display: flex;
  line-height: 20px;
  flex-direction: row;
}

.profile-pic {
  display: flex;

  img {
    height: 50px;
    width: 50px;
  }
}